*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "fira sans", sans-serif;
}
body{
min-width: 160px;
display: flex;
background-color:var(--dark);
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 15px;
  

}
:root{
  --dark:#374151;
  --darker:#1f2937;
  --darkest:#1b1c1f;
  --gray:#687280;
  --light:#EEE;
  --pink:#EC4899;
  --purple:#885cf6;
}
.main{
  width : 100%;
  background-position: center;
  background-size: cover;
  height: 109vh;
  margin-top: 0%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#name{
  position:relative;
  padding: 30px  15px;
  background-image: white;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgb(246, 244, 244);
  width:50%;
  left: 0px;
  
  }
#name p{
  font-weight: 600;
  font-size:80px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(to right, var(--pink),var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 20px;
}
#newtask{
  position: relative;
  padding: 30px  15px;
  width: 50%;
  left: 0px;
  background: rgb(255, 255, 255);
   border-radius: 15px;
   box-shadow: 0 15px 30px rgba(0,0,0.3);
}
#newtask input{
  border-radius: 5px;
  width: 80%;
  height: 45px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
  
}

#newtask input:focus{
  outline: none;
  border-color: #be369c;
}
#newtask button{
  position: relative;
  float: right;
  width:120px;
  height: 45px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  background: #ee2dc1;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: 'Times New Roman', Times, serif;
  
  font-size: 22px;
  
}
#newtask button:hover{
  height: 50px;
  width: 125px;
  background-image: linear-gradient(20deg,#d020ad,#891cc3,dodgerblue);
}
#tasks{

  position: relative;
  margin-top: 40px;
  width:50%;
  left: 0px;
  padding: 30px;
  border-radius: 5px;
 
}
.tasks{
  
  border-radius: 5px;
  background:white;
  height: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid #f8cdf3;
  border-top: 2px solid #d966f3;
  font-family:'Times New Roman', Times, serif;
}

.task span{
  font-size: 15px;
  font-weight:400;
  cursor: pointer;

}

.task button{
  border: none;
  background: #a619bc;
  height: 100%;
  width: 450px;
  color: rgb(198, 30, 164);
  border-radius: 5px;
  cursor: pointer;
}
.delete{
  border: none;
  background:#6e0b6b;
  height: 100%;
  width: 50px;
  color: rgb(213, 87, 188);
  border-radius: 5px;
  cursor: pointer;
  
}

.completed{
  text-decoration: line-through;
   opacity: 0.8;
}